@media(max-width: 900px){
    .cabecalho {
        padding: 30px 0;
    }
    
    .cabecalho .banner-titulo{
        max-width: 350px;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;
    }

    .personagens-slider, .magatamas-slider{
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta{
        width: 15px;
        height: 15px;
        padding: 20px;
    }

    .lista-personagens{
        height: 480px;
    }

    .cartao .descricao{
        max-height: 150px;
    }

    .cartao .descricao .titulo, .cartao .descricao-event .titulo {
        font-size: 14px;
    }

    .cartao .descricao .texto, .cartao .descricao-event .texto {
        max-height: 80px;
        overflow-y: auto;
        font-size: 10px;
    }

    .cartao .stats .sp-atk-def {
        font-size: 10px;
    }
}